body{
  text-align: center;
  font-family: helvetica;
}

/* HEADINGS AND TEXT */

.header--main{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.header--secondary{
  font-size: 32px;
  font-weight: bold;
  color: black;
}

.header--third{
  font-size: 23px;
  font-weight: bold;
  color: black;
}

.header--menu{
  font-size: 18px;
  color: #ffffff;
  font-weight: lighter;
}

.header--middle{
  font-size: 23px;
  font-weight: bold;
  color: #ffffff;
}

p{
  color: #000000;
  font-size: 14px;
}

.footer{
  color: #ffffff;
  font-size: 11px;
  text-align: left;
}

/* BACKGROUND IMAGE AND COLOR */

.background--image{
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

.background--color{
  background-color: dimgray;
}
